<%= render(:partial => 'layouts/headermenu') %>

	<div class="jumbotron in-ban contact">

		<!-- <img src="images/blog-banner.png"> -->

		<div class="container">

			<div class="ban-text">

				<div class="updates">Some Text Here</div>

				<h1>Contact us</h1>

			</div>

		</div>

	</div>

	<!-- Content -->

	<div id="content" class="contact-wrap" >

		<section class="breadcrumb-wrap">

			<div class="container">

				<div class="row">

					<nav aria-label="breadcrumb" class="brd">

						<ol class="breadcrumb">

							<li class="breadcrumb-item"><a href="#">Home</a>

							</li>

							<li class="breadcrumb-item active" aria-current="page">Contact us</li>

						</ol>

					</nav>

				</div>

			</div>

		</section>





		<!-- Section 1 -->

		<section class="row-am contact-first-wrap">

			<div class="container">

				<div class="row">

						<div class="main-heading wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Contact us</h1>

						</div>

						

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since.  the when an unknown printer took a galley  Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since.  the when an unknown printer took a galley </p>

					</div>

				

							<div class="contact-detail row">

								<ul>

									<li class="address">

										<div class="contact-icon"><img src="images/location-icon.png"></div>

										<div class="contact-dtl-inner">

											<div class="cont-title">Address</div>

											<p>1409 Yonge Street, Suite#212-213 Toronto, ON M4T 1Y7</p>

										</div>

									</li>

									<li class="phone">

										<div class="contact-icon"><img src="images/phone-icon.png"></div>

										

										<div class="contact-dtl-inner">

											<div class="cont-title">Phone</div>

											<p>Phone: <a href="tel: 416-901-8399"> 416-901-8399</a>, <a href="tel: 1-877-570-2284">1-877-570-2284</a>

												<br>Fax:<a href="tel: 416-840-9391"> 416-840-9391</a></p>





										</div>

									</li>

									<li class="email">

										<div class="contact-icon"><img src="images/email-icon.png"></div>



										<div class="contact-dtl-inner">

											<div class="cont-title">email</div>

											<p>Sales:<a href="mailto: test@gmail.com">test@gmail.com</a></p>

											<p>Techtnical Support:<br><a href="mailto: test@gmail.com">test@gmail.com</a></p>



										</div>

									</li>

									

								

								</ul>



							</div>

				

				<div class="contact-form row">

						<div class="main-heading wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">

							<h1>Lets Get in Touch</h1>

						</div>

						<div class="container">

					<div class="form-2 col-sm-12 col-md-12">

										

						<form>

							<div class="row">

								<div class="col-md-4 col-sm-12 nrow">

			        	

	        						<input type="text" class="input" placeholder="Name">

	        					</div>

	        					<div class="col-md-4 col-sm-12 nrow">

	        			

	        						<input type="text" class="input" placeholder="email">

	        					</div>

	        					<div class="col-md-4 col-sm-12 nrow">

	        						 <input type="text" class="input" placeholder="Phone">

		        			

		        				</div>

		        				<div class="col-md-4 col-sm-12 nrow">

			        	

	        						<input type="text" class="input" placeholder="Company">

	        					</div>

	        					<div class="col-md-4 col-sm-12 nrow">

	        			

	        						<input type="text" class="input" placeholder="Skype ID">

	        					</div>

	        					<div class="col-md-4 col-sm-12 nrow">

	        						 <input type="text" class="input" placeholder="Skype ID">

		        			

		        				</div>



			        	 

	        					<div class="col-md-12 col-sm-12">

	        						<div class="message">

	        							<textarea class="input textarea" placeholder="Project Discription"></textarea>

	        						</div>

	        						<div class="submit-btn">

	        							<a href="#" class="red-btn hvr-radial-in">Submit</a>

									</div>

	        						

       							</div>

	        			</div>

	        			</form>

	        		

	        		</div></div>





							</div>







							<div class="row map">

						

							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.676464231845!2d72.55963861544991!3d23.035648584946443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e845fc53b9387%3A0x482f3cd6343fd3ed!2sAlakmalak+Technologies!5e0!3m2!1sen!2sin!4v1560151155894!5m2!1sen!2sin" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>



						</div>





			</div>

		</section>

	  <%= render(:partial => 'layouts/sec8interestedblock') %>

	</div>


	<%= render(:partial => 'layouts/footerjsblock') %>