		<section class="row-am rail-house" id="rail-house">

			<div class="container-fluid">

				<div class="row">

					<!-- left sec -->

					<div class="col-sm-12 col-md-6 col-lg-6 rail-house-left">

						<div class="row">

							<div class="col-sm-12 col-md-2 col-lg-2 blank"></div>

							<div class="col-sm-12 col-md-10 col-lg-10 rail-house-title-wrap">

								<div class="main-heading-port wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">

									<h1><span>Why</span> Rails house ?</h1>

								</div>

								<p>Since 2009, Rails House has been working on Ruby on Rails helping global clientele. With our project management team in Canada and Development team in India, we deliver high quality solutions for clients who don't have budget to hire local Ruby on Rails developers.</p>
								<p>When you want to ramp up your Ruby on Rails team at short notice, or want to solve a specific problem or performance issue, give us a call.</p>

							</div>

						</div>

					</div>

					<!-- right sec -->

					<div class="col-sm-12 col-md-6 col-lg-6 rail-house-right">

						<div class="row">

							<div class="col-sm-12 col-md-10 col-lg-10 rail-house-customers">

								<div class="rail-customer-single left one">

									<!-- <div class="rail-wrap-img"><img src="images/rail1.png"></div> -->

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Worldwide Customers</div>

										<p>100% referenceable customers is something we can boast of. Whether it is US or Canada, our customers speak highly about our delivery and execution capabilities.</p>

									</div>

								</div>

								<div class="rail-customer-single right two">

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Flexible Engagement</div>

										<p>Whether you want to engage us on Fixed Price, Time and Materials or Cost Plus basis; or even if you want help in filling up your internal Ruby on Rails position as Permanent Hire or Contractor, we can help. We have been in business for over 10 years.</p>

									</div>

								</div>

								<div class="rail-customer-single left three">

									<div class="col-sm-12 col-md-12 col-lg-12 rail-wrap">

										<div class="rail-title">Responsive</div>

										<p>We are quick to respond not just on pre-sales call but also on support issues. Our clients say that everytime they get on phone with our team, they learn something new that would help them in their business. We love to share our knowledge.</p>

									</div>

								</div>

							</div>

							<div class="col-sm-12 col-md-2 col-lg-2 blank"></div>

						</div>

					</div>

				</div>

			</div>

			<!--container-->

		</section>