		<section class="row-am testimonial1" id="testimonial1">

			<div class="container">

				<div class="cl-sm-12 sol-md-12 col-lg-12">

					<div class="main-heading wow fadeInDown">

						<h1> Client Endorsements</h1>

					</div>

				</div>

				<div class="col-md-8 col-center m-auto">

					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

						<ol class="carousel-indicators">

							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

						</ol>

						<div class="carousel-inner">

							<div class="carousel-item item active">

								<div class="img-box">


									<%= image_pack_tag "post-img1.jpg", alt: "Ruby on Rails, React Native Mobile Application Development" %>

								</div>

								<p>It’s always reassuring to work with someone of Roshan’s calibre and overall talent. Roshans insights from both a development and business perspective are extremely valuable. Between projects I still consult with Roshan to ensure we are on the right track. I am looking forward to our next project together.</p>

								<p class="overview">- Scott McCrea (President, ETech Innovation Group)</p>

							</div>

							<div class="carousel-item item">

								<div class="img-box">

									<%= image_pack_tag "post-img1.jpg", alt: "Ruby on Rails, React Native Mobile Application Development" %>

								</div>

								<p>Roshan's Railshouse team has been instrumental in helping us build FinTech Connector project. What started as a Hobby project using US developers, got a serious enterprise lift once Railshouse/Cogdina team stepped in.</p>

								<p class="overview">- Mary Olson (Co-Founder, Fintech Connector)</p>

							</div>

	
						</div>

						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span>

							<span class="sr-only">Previous</span>

						</a>

						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>

							<span class="sr-only">Next</span>

						</a>

					</div>

					<!-- testimonial slidr end -->

				</div>

				<!--container-->

		</section>