		<section class="row-am experts" id="experts">

			<div class="container">

				<div class="exp-main-wrp">

					<div class="col-sm-12 col-md-12 col-sm-12 expert-title-wrap">

						<div class="exprt-title ">Ruby On Rails (Ror) Development Experts</div>

					</div>

					<div class="col-sm-12 col-md-12 col-sm-12 expert-title-content">

						<div class="row next-title">

							<div class="col-sm-6 col-md-6 col-sm-12 ">

								<div class="expert-left ">When we say we do Ruby on Rails Soup to Nuts, we mean it!!</div>

							</div>

							<div class="col-sm-6 col-md-6 col-sm-12 ">

								<div class="expert-right">

									<p>If you have checklist of 10 things to do for your MVP that you want to build using Ruby on Rails, take the first step and give us a call. Leave the remaining 9 things to us.</p>

								</div>

							</div>

						</div>

						<div class="three-experts row">

							<div class="col-sm-12 col-md-4 col-lg-4 three-experts-single">

								<div class="exp-img">

									 <%= image_pack_tag "exp1.png", alt: "Rapid Development" %>

								</div>

								<div class="exp-name font-uppercase wow fadeInDown">Rapid Development</div>

								<p>Our Agile/Scrum approach and two week sprint help you get your product rolled out incrementally and quickly.</p>

							</div>

							<div class="col-sm-12 col-md-4 col-lg-4 three-experts-single">

								<div class="exp-img">

									<%= image_pack_tag "exp2.png", alt: "Cost Savings" %>

								</div>

								<div class="exp-name font-uppercase wow fadeInDown">Cost Savings</div>

								<p>You don't need to pay for health insurance, benefits, hiring costs nor risk losing a resource. We are very competitive and top notch in quality.</p>

							</div>

							<div class="col-sm-12 col-md-4 col-lg-4 three-experts-single">

								<div class="exp-img">

									<%= image_pack_tag "exp3.png", alt: "Onward and Upward" %>

								</div>

								<div class="exp-name font-uppercase wow fadeInDown">Onward and Upward</div>

								<p>We know how critical it is to get customers to use your product. We listen to feedback and incorporate changes requested in future sprint.</p>

							</div>

						</div>

						<div class="red-btn-wrp c-center"><a href="#" class="red-btn hvr-radial-in">Know More</a>

						</div>

					</div>

				</div>

			</div>

		</section>