		<div id="myCarousel" class="carousel slide home-slider" data-ride="carousel">

		<div class="carousel-inner">

			<div class="carousel-item active">

                <%= image_pack_tag "slider.png", alt: "First Slide", class: "first-slide" %>

				<div class="container">

					<div class="carousel-caption text-center">

						<p class="semi-head font-uppercase">We specialize in</p>

						<h1>Ruby on Rails Solutions</h1>

						<p>Contact us if you want to get your Minimum Viable Product(MVP) developed. We strictly follow Agile/Scrum principles</p>

						<div class="white-btn-wrp"><a href="#" role="button" class="white-btn hvr-radial-in2">View our work</a>

						</div>

					</div>

				</div>

			</div>

			<div class="carousel-item">

				 <%= image_pack_tag "slider.png", alt: "Second Slide", class: "second-slide" %>

				<div class="container">

					<div class="carousel-caption text-center">

						<p class="semi-head font-uppercase">Refactor Ruby on Rails Application for</p>

						<h1>Building Microservices</h1>

						<p>Let us help you build scalable Ruby on Rails application architecture using Microservices and API with rails-api gem</p>

						<div class="white-btn-wrp"><a href="#" role="button" class="white-btn hvr-radial-in2">View our work</a>

						</div>

					</div>

				</div>

			</div>

			<div class="carousel-item">

				 <%= image_pack_tag "slider.png", alt: "Third", class: "third-slide" %>

				<div class="container">

					<div class="carousel-caption text-center">

						<p class="semi-head font-uppercase">Red Green Refactor Cycle</p>

						<h1>Test Driven Development(TDD)</h1>

						<p>I don't have time to TDD this! Well Good tests guide good code. Period!</p>

						<div class="white-btn-wrp"><a href="#" role="button" class="white-btn hvr-radial-in2">View our work</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">	<span class="carousel-control-prev-icon" aria-hidden="true"></span>

			<span class="sr-only">Previous</span>

		</a>

		<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">	<span class="carousel-control-next-icon" aria-hidden="true"></span>

			<span class="sr-only">Next</span>

		</a>

	</div>